<div class="form-group">
    <label>Filter Retrospectives On Date :</label>
    <mat-form-field>
        <input name="RetroDate" #RetroDate = "ngModel" [(ngModel)]="retroDateFilter" class="form-control form-control-sm" 
                           required matInput [matDatepicker]="picker" type="text" readonly (dateChange)="retroDateFilterChange()">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
 </div>
<table class="table table-hover">
    <tr *ngFor="let retro of service.retrospectiveList">
        <table>
            <thead>
                <tr>
                    <th scope="col" class="form-group  col-md-3">Name</th>
                    <th scope="col" class="form-group  col-md-3">Summary</th>
                    <th scope="col" class="form-group  col-md-3">Date</th>
                    <th scope="col" class="form-group  col-md-3">Participants</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        {{retro.name}}
                    </td>
                    <td>
                        {{retro.summary}}
                    </td>
                    <td>
                        {{retro.date | date}}
                    </td>
                    <td>
                        {{retro.participants}}
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <app-feedback-item [retroItem]="retro"></app-feedback-item>
                    </td>
                </tr>
            </tbody>
        </table>
    </tr>
    <tr>
    </tr>
</table>

