<div class="card card-body">
    <h1 class="display-6 text-center">Retrospectives</h1>    
    <div class="row margin:50">
        <div class="col-md-3 border border-success" >
            <h5 class="display-6 text-center">Add Retrospectives Here...</h5>    
            <app-retrospective></app-retrospective>
        </div>
        <div class="col-md-7 border border-success">
            <h5 class="display-6 text-center">List/Filter Retrospectives And Feedbacks Here...</h5>    
            <app-retrospective-list></app-retrospective-list>
        </div>
    </div>
</div>