<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
    <div class="form-group">
        <label>Retrospective Name</label>
        <input name="Name" #Name = "ngModel" [(ngModel)]="service.retrospectiveFormData.name" class="form-control form-control-sm" required>
        <div class="validation-error" *ngIf="Name.invalid">This field is required</div>
    </div>

    <div class="form-group">
        <label>Sumarry</label>
        <input name="Summary" #Summary = "ngModel" [(ngModel)]="service.retrospectiveFormData.summary" class="form-control form-control-sm">
    </div>

    <div class="form-group">
        <label>Date: </label>
        <mat-form-field>
            <input name="retroDate" #retroDate = "ngModel" [(ngModel)]="service.retrospectiveFormData.date" class="form-control form-control-sm" 
                               required matInput [matDatepicker]="picker" type="text" readonly>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div class="validation-error" *ngIf="retroDate.invalid">This field is required</div>
     </div>
    <div class="form-group">
        <button type="submit" [disabled]="form.invalid" class="btn btn-sm btn-block" false>Add Retrospective</button>
    </div>
</form>

